body{
    /* background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  */
    background-color: #121413;
}


#header{
    text-align: center;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding-top: 15px;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

#greeting{
    font-size: 21px;
    
}
#content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#left{
    display: flex;
    flex-direction: column;
}

#daysLeft, #daysLeft2{
    font-size: 30px;
    text-align: center;
    width: 100%;
    color: #f2f2f2;
}

    

#calculate{
    font-family: "Archivo", sans-serif;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #1f2020;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
    color: rgb(0, 0, 0);
    text-align: center;
    width:360px;
    position: absolute;
   
   
}
#border{
    padding:10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



#input_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0px 8px;
    
}

#input_wrap p{
    padding: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#input_wrap b{
    font-size: 10px;
}


#myDate{
    font-family: "Archivo", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    cursor:text;
    border: 2.5px solid;
    padding: 0.35em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: black;
    transition: 0.4s;
    color-scheme: dark;
} 




#mid{
    display: flex;
    top:130px;
    flex-direction: column;
    justify-content: center;
    
    
    
}

#right{
    display: flex;
    justify-content: center;
    
}

#notepad{
    font-family: "Archivo", sans-serif;
    font-size: 15px;
    padding: 0px 15px 16px;
    background-color: #1f2020;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    position: absolute;
    
    
}

#notepad h, .current-date{
    font-size: 12px;
    align-self: center;
    padding-left:5px;
    font-family: "Archivo", sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    border: 3px solid;
    padding: 0.35em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: black;
}



#toprow{
    display:flex;
    flex-direction: row;
    justify-content: left;
    gap:20px;
}

#buttons{
    display: inherit;
    gap:15px;
    justify-content: right;
    width:100%;
    padding-right: 6px;
}

#note_wrapper{
    padding-top: 4px;
}


#note_wrapper textarea{
    background-color:#2b2b2b ;
    border-radius: 4px;
    color:#f2f2f2;
    resize: none;
    overflow: hidden;
    padding: 0px 5px;

    font-size: 16px;
    line-height: 28px;
    background-image: linear-gradient(transparent, transparent 27px, gray 0px);
    background-size: 100% 28px;   
}


#save, #clear, #dateSubmit, #pomodoro_buttons button{
    font-family: "Archivo", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    cursor: pointer;
    border: 3px solid;
    padding: 0.35em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: black;
    transition: 0.4s;
}

#save:hover, #clear:hover, #dateSubmit:hover, #myDate:hover{
    background-color: #2b2b2b;
    color:white;
}




#outline{
    border:solid 6px #302d2d;
    border-radius: 4px;
    position: absolute;
    
}

#clock_border{
    border: solid 2px lightgray;
    padding:6px;
    border-radius: 2px;
    background-color:#1f2020;
}
.clock {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding:4px;
    
}

.clock div {  
    display: flex;
    color: #f2f2f2;
}
.clock span {
    font-weight: 800;
    color: #f2f2f2;;
    font-size:28px;
}

#calendar_section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    border-radius: 10px;
}


.calendar_wrapper{
    width: 650px;
    background: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.calendar_wrapper header{
    display: flex;
    align-items: center;
    padding: 0px 20px 5px;
    justify-content: space-between;
    
    background-color: #1f2020;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
}




header .icons{
    display: flex;
}

header .icons span{
    height: 40px;
    width: 40px;
    margin: 0 1px;
    cursor: pointer;
    color: #333;
    text-align: center;
    line-height: 38px;
    font-size: 2.5rem;
    user-select: none;
    padding-right: 10px;
    transition: 0.3s;
}

.icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    color:white;
}

header .current-date{
    font-size: 1rem;
    font-weight: 500;
}

.calendar{
    padding: 20px;
}
.calendar ul{
    padding-left: 0px;
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar .weeks{
    padding-top: 16px;
}

.calendar .days{
    margin-bottom: 20px;
}
.calendar li{
    color: #f2f2f2;
    width: calc(100% / 7);
    font-size: 1.07rem;
}
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days li.inactive{
    color: gray;
}
.days li.active{
    color: lightgrey;
}

.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before{
    background:#121413;
}
.days li:not(.active):hover::before{
    background: #1f2020;
}


#search{
    text-align: center;
    display: flex;
    justify-content: center;
    position:absolute;
    border-radius: 60px;
}

.search_container{
   width:400px;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.search_bar{
    max-width: 750px;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);

}

.search_bar input{
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: lightgrey;
    padding-left: 10px;
    pointer-events: auto;
    min-width: 100px;
}

.search_bar input::placeholder{
    color: white;
}

.search_bar button img{
    width: 25px;
}

.search_bar button{
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #292929;
    cursor: pointer;
}

#timer{
    position:absolute;
    background-color:#1f2020;
    border-radius: 5px;
    padding: 10px 15px;
}

#pomodoro {
    text-align: center;
    
    color: #f2f2f2;
    background-color:#292929;
    padding: 15px;
    border-radius: 5px;
    
  }
  #pomodoro h2 {
    margin: 0px;
  }
  
  #time_display {
    font-size: 3em;
    
  }
  
  #pomodoro_buttons button {
    
    margin: 5px;
    cursor: pointer;
  }

  #pomodoro_buttons{
    padding-bottom: 10px;
  }





#footer{
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
    width:100%;
    padding-left: 0px;
    padding-bottom: 60px;

}
#quicklinks{
    align-items: center;
    justify-content: center;
}


#row{
    display: flex;
    backdrop-filter: blur(4px) saturate(180%);
    justify-content: center;
    list-style-type: none;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 12px;
}

#link_container {
    text-decoration: none;
}

#link_container span{
    width: 38px;
    height: 38px;
    border: 5px solid #302d2d;
    border-radius:15px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:0.2s;
    background-color: #3b3737;
    
}

#link_container span:hover{
    transform: scale(1.2);
    color:#fff;
}

#link_container img {
    width: 35px;
    height: 35px;
    padding:2px;
    
}

.draggable {
    cursor: move;
    outline: 3px white solid;
    resize:both;
}


.locked {
    cursor:default; 
}



@media (max-width: 2200px) {
    #row {
        gap: 37px;
    }
    
}

@media (max-width: 1800px) {
    #row {
        gap: 25px;
    }
    .calendar{
        padding-top:0px;
    }
    .calendar_wrapper{
        width: 500px;
    }
    .calendar li{
        font-size: 1rem;
    }
    .calendar .days li{
        margin-top: 20px;
    }
    .calendar_wrapper header{
        padding-top: 10px;
    }
    #footer{
        padding-bottom: 20px;
    }
    #header{
        padding-bottom: 10px;
    }


    .search_bar input{
        font-size: 15px;
        padding-left: 15px;
    }
    .search_bar{
        padding: 8px 10px;
        
    }
    .search_bar button img{
        width: 20px;
    }
    
    .search_bar button{
        width: 40px;
        height: 40px;
    }
    

    #note_wrapper textarea{
        width: 320px;
        height: 350px;
    }
    
    
}

@media (max-width: 1000px) {
    #row {
        gap: 10px;
    }
}


.btn-lock {
    right: 4%;
    bottom: 20px;
    position: absolute;
    
    display: inline-block;
    background:transparent;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    padding: 12px 0 0 18px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .btn-lock svg {
    fill: none;
    transform: translate3d(0, 0, 0);
  }
  
  .btn-lock svg .bling {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-dasharray: 3;
    stroke-dashoffset: 15;
    transition: all 0.3s ease;
  }
  
  .btn-lock svg .lock {
    stroke: #fff;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 26;
    transition: stroke-dasharray 0.4s ease, transform 0.4s ease;
  }
  
  .btn-lock svg .lockb {
    fill: #fff;
    fill-rule: evenodd;
    clip-rule: evenodd;
    transform: rotate(8deg);
    transform-origin: 12px 15px;
    transition: all 0.2s ease;
  }
  
  #inpLock {
    display: none;
  }
  
  #inpLock:checked + label {
    background: transparent;
  }
  
  #inpLock:checked + label svg {
    opacity: 1;
  }
  
 
  
  #inpLock:checked + label svg .lock {
    stroke-dasharray: 60;
  
    animation: locked 0.5s linear forwards;
  }
  
  #inpLock:checked + label svg .lockb {
    transform: rotate(0);
    transform-origin: 14px 22px;
    transition: transform 0.3s ease;
  }
  
 
  
  @keyframes locked {
    50% {
        
      transform: translateY(1px);
    }
    
  }


